*.log
.DS_Store
.env
.env.backup
.env.production
.env.sa2-plus.local.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/composer.phar
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/dist
Homestead.json
Homestead.yaml
Thumbs.db
/Wonderful-Tonight.mp3
/storage/framework/settings-ai.html
/storage/framework/settings-ai.js

/SwinIR/
